* {
    box-sizing: border-box;
}

/* font-family: 'Big Shoulders Display', cursive; */

/* TYPOGRAPHY */
body {
    margin: 0;
    font-size: 1rem;
    color: hsla(0, 0%, 100%, 0.75);
    background-color: hsl(0, 0%, 95%);
    font-family: 'Lexend Deca', sans-serif;
}

/* LAYOUT */

.section {
    width: 375px;
}